{{>metadata}}
<body>
{{!-- {{ start of header partial }} --}}
    {{>header}}
{{!-- {{ end of header partial }} --}}
    <div class="container main-content">
        <h1>Weather App</h1>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        {{!-- {{ The two paragraphs below display search result with javascript }} --}}
        <div class="container show-weather">
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

    </div>

    {{>footer}}
<script src="/js/app.js"></script>
</body>
</html>